/* styles.css */
@font-face {
  font-family: 'Bagnard';
  src: url('fonts/Bagnard.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* styles.css */
@font-face {
  font-family: 'CooperHewitt-Heavy';
  src: url('fonts/CooperHewitt-Heavy.otf') format('opentype');
}

h1 {
    font-family: 'Bagnard';
}

body {
    font-family: 'CooperHewitt-Heavy';
}

.border-2px-black {
    border: 2px solid;
    border-color: black;
}