        @font-face {
            font-family: 'BianZhiDai';
            src: url('bianzhidai_COLR-GRAY.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .grid-item {
            border: 2px solid black;
        }
        
        .fade-transition {
            transition: opacity 0.3s ease-in-out;
        }
        
        .copy-icon {
            width: 1em;
            height: 1em;
            position: absolute;
            right: 0.5em;
            top: 50%;
            transform: translateY(-50%);
        }
        
        #contactBtn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }